@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

/* <div class="shape"> OR <img class="shape"> */
.shape {
	aspect-ratio: 2.52;
	clip-path: shape(from 94.44% 0%,curve to 100% 14% with 97.51% 0%/100% 6.27%,curve to 95.24% 27.85% with 100% 21.05%/97.93% 26.88%,vline to 28.14%,curve to 100% 42% with 97.93% 29.12%/100% 34.95%,curve to 95.24% 55.85% with 100% 49.05%/97.93% 54.88%,vline to 56.14%,curve to 100% 70% with 97.93% 57.12%/100% 62.95%,curve to 97.33% 81.97% with 100% 75.07%/98.93% 79.51%,curve to 97.35% 83.33% with 97.34% 82.42%/97.35% 82.87%,curve to 91.8% 97.33% with 97.35% 91.07%/94.87% 97.33%,curve to 86.78% 89.33% with 89.58% 97.33%/87.67% 94.06%,hline to 85.71%,curve to 80.69% 97.33% with 84.82% 94.06%/82.9% 97.33%,curve to 76.9% 93.56% with 79.22% 97.33%/77.89% 95.9%,curve to 72.22% 100% with 75.91% 97.43%/74.18% 100%,curve to 66.83% 89.33% with 69.61% 100%/67.42% 95.46%,hline to 66.51%,curve to 61.11% 100% with 65.91% 95.46%/63.72% 100%,curve to 55.72% 89.33% with 58.5% 100%/56.31% 95.46%,hline to 55.4%,curve to 50% 100% with 54.8% 95.46%/52.61% 100%,curve to 44.6% 89.33% with 47.39% 100%/45.2% 95.46%,hline to 44.28%,curve to 38.89% 100% with 43.69% 95.46%/41.5% 100%,curve to 33.49% 89.33% with 36.28% 100%/34.09% 95.46%,hline to 33.17%,curve to 27.78% 100% with 32.58% 95.46%/30.39% 100%,curve to 22.38% 89.33% with 25.17% 100%/22.98% 95.46%,hline to 22.06%,curve to 16.67% 100% with 21.47% 95.46%/19.28% 100%,curve to 11.27% 89.33% with 14.05% 100%/11.86% 95.46%,hline to 10.95%,curve to 5.56% 100% with 10.36% 95.46%/8.17% 100%,curve to 0% 86% with 2.49% 100%/0% 93.73%,curve to 2.12% 75.01% with 0% 81.54%/0.83% 77.57%,vline to 68.99%,curve to 0% 58% with 0.83% 66.43%/0% 62.46%,curve to 2.12% 47.01% with 0% 53.54%/0.83% 49.57%,vline to 46.32%,curve to 0% 35.33% with 0.83% 43.76%/0% 39.79%,curve to 1.96% 24.67% with 0% 31.06%/0.76% 27.23%,curve to 0% 14% with 0.76% 22.1%/0% 18.27%,curve to 5.56% 0% with 0% 6.27%/2.49% 0%,curve to 10.79% 9.33% with 7.97% 0%/10.03% 3.9%,hline to 11.43%,curve to 16.67% 0% with 12.19% 3.9%/14.25% 0%,curve to 21.9% 9.33% with 19.09% 0%/21.14% 3.9%,hline to 22.54%,curve to 27.78% 0% with 23.3% 3.9%/25.36% 0%,curve to 33.02% 9.33% with 30.2% 0%/32.25% 3.9%,hline to 33.65%,curve to 38.89% 0% with 34.41% 3.9%/36.47% 0%,curve to 44.13% 9.33% with 41.31% 0%/43.36% 3.9%,hline to 44.76%,curve to 50% 0% with 45.52% 3.9%/47.58% 0%,curve to 55.24% 9.33% with 52.42% 0%/54.48% 3.9%,hline to 55.87%,curve to 61.11% 0% with 56.64% 3.9%/58.69% 0%,curve to 66.35% 9.33% with 63.53% 0%/65.59% 3.9%,hline to 66.98%,curve to 72.22% 0% with 67.75% 3.9%/69.8% 0%,curve to 77.46% 9.33% with 74.64% 0%/76.7% 3.9%,hline to 78.1%,curve to 83.33% 0% with 78.86% 3.9%/80.91% 0%,curve to 88.57% 9.33% with 85.75% 0%/87.81% 3.9%,hline to 89.21%,curve to 94.44% 0% with 89.97% 3.9%/92.03% 0%,close);
}
